[Unit]
Description=SNMP Exporter
After=network.target

[Service]
User=root
ExecStart=/usr/local/bin/snmp_exporter
Restart=always

[Install]
WantedBy=multi-user.target

